body {
    margin: 0;
    padding: 4rem;
    background: gray;
}

h1 {
    font-size: 30px;
    text-align: center;
}

form {

    width: 500px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    padding-bottom: 1rem;
    justify-content: center;
    background: white;
    display: grid;
}

#tareas {

    width: 350px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

}

#todo-texto {
    margin-right: 10px;
    width: 80%;
}

#lista {
    width: 495px;
    border: 5px solid lightblue;
}